@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
*{
padding: 0;
margin: 0;
}
body{
    background-color: black;
}

.main{
    background-image: url("assets/images/bg.jpg");
    height: 90vh;
    background-size: max(1400px,100vw);
    position:relative;
    background-repeat: no-repeat;
    background-position: center center;
 }

.main .box{
    height: 90vh;
    width:100%;
    opacity:0.69;
    background-color: black;
    position: absolute;
    top:0;
}
nav{
    display: flex;
    margin:auto;
    height:62px;
    /* max-width:80vw; */
    justify-content: space-between;
    align-items: center;
    padding: 20px ;

}

nav img{
    width: 144px;
    position: relative;
    z-index: 10;

}
nav button{
    position: relative;
    z-index: 10;
}

.box2
{
    height: calc(100% - 102px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    flex-direction: column;
     font-family: "Martel Sans", sans-serif;
  /* font-weight: 600;
  font-style: normal; */
  gap:23px;
  padding:0 25px;
}
.box2> :nth-child(1)
{
    font-weight: 900;
    font-size: 48px;
    

    text-align: center;
}

.box2> :nth-child(2)
{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.box2> :nth-child(3)
{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.seperation
{
    height: 7px;
    background-color: rgb(66, 66, 66);
}
.placeemail{
    background:none;
    backdrop-filter: blur(1px);
     padding: 11px 13px 10px 9px;
    border: 0.01px solid white;
    font-size: 14px;
     font-family: "Martel Sans", sans-serif;
     font-weight: 400;
     border-radius: 4px;
     color: aliceblue;
     
    

}
.btnred
{
    background-color: red;
    color: white;
    padding: 9px 10px 8px 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
     font-family: "Martel Sans", sans-serif;
     font-weight: bolder;
     text-align: center;
}
.btnredsm
{
     padding: 6px 15px;
    font-weight: bold;
     background-color: red;
     color:white;
     border: none;
     border-radius: 4px;
     margin-left: 10px;
     font-family: "Martel Sans", sans-serif;
}
.btn
{
    padding: 5px 15px;
    font-weight: bold;
    background: none;
    color: aliceblue;
    border: 1px solid white;
    border-radius: 4px;
    font-family: "Martel Sans", sans-serif;

    
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color:aliceblue;
    align-items: center;
}
@media screen and (max-width:1300px)
{
    .first{
        flex-wrap:wrap;
    }
}
.secimg img{
   width:300px;
   position: relative;
    z-index: 10;
    

}
.secimg video {
    width: 250px;
    height: auto;
    position: absolute;
    top: 20%;
    right: 10%;

}
.secimg{
    position: relative;
   
}
.sec2 :nth-child(1)
{
font-size: 48px;
font-weight: bolder;
align-self: auto;
}

.sec2 :nth-child(2)
{
font-size: 24px;
font-weight: bolder;
align-self: auto;
}
.sec2{
    display: flex;
    flex-direction: column;
}
section{
    padding: 20px;
}




.faq{
    background-color: black;
    color: white;
}
.faq h1{
    text-align: center;
    font-size: 40px;
    /* font-weight:bolder ; */
}
.faq .box{
     transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}
.faq .box:hover {
    background-color: #414141;
    color: white;
}
footer{
    color: white;
     max-width: 60vw;
    margin: auto;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    max-width: 90vw;
    margin: auto;
    padding: 24px;
}

.footer-item
{
    display:flex;
    flex-direction: column;
    gap:14px;
    

}
.footer a
{

    color: white;
    transition: all 1s ease-in-out;
}
.que
{
    margin-top: 24px;
    font-size: 20px;
}

.footer a:hover{
    color: red;
}

.secimgchild img{
    height:400px ;
    width:440px;
    position: relative;
}
@media screen and (max-width:1300px)
{
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }
}